body {

    font-family: fantasy;
  
    }
        .main {
            color: #340fbd;
            background-image:url("../imagens/background.png");
        
        }
   
        h1 {text-align: center;}
        h2 {text-align: center;}
        h3 {text-align: center;}
    

        .media {
            text-align: center;
        }